@import url("../fonts/noto-webfont/noto.css");
@import url("../fonts/font-awesome/css/font-awesome.css");
.noto-sans-normal {
  font-family: 'Noto Sans';
  font-weight: 400;
  font-style: normal;
}
.noto-sans-bold {
  font-family: 'Noto Sans';
  font-weight: 700;
  font-style: normal;
}
.noto-sans-normal-italic {
  font-family: 'Noto Sans';
  font-weight: 400;
  font-style: italic;
}
.noto-sans-bold-italic {
  font-family: 'Noto Sans';
  font-weight: 700;
  font-style: bold-italic;
}
.yellow {
  color: #FFE400;
}
.button a {
  display: inline-block;
  height: 48px;
  width: 216px;
  text-decoration: none;
  padding: 16px;
  text-align: center;
}
.button--download a {
  color: #fff;
}
a.mouse_scroll {
  display: block;
  margin: 0 auto;
  width: 24px;
  height: 100px;
  position: absolute;
  bottom: 2rem;
  left: 50%;
  margin-left: -12px;
  -webkit-animation-delay: 1.2s;
  -moz-animation-delay: 1.2s;
  -o-animation-delay: 1.2s;
  animation-delay: 1.2s;
  cursor: pointer;
}
@media screen and (max-width: 768px) {
  a.mouse_scroll {
    height: 100px;
  }
}
@media screen and (max-width: 768px) {
  a.mouse_scroll {
    bottom: 2rem;
    height: 50px;
  }
}
a.mouse_scroll:active,
a.mouse_scroll:focus {
  outline: none;
}
.m_scroll_arrows {
  display: block;
  width: 5px;
  height: 5px;
  -ms-transform: rotate(45deg);
  /* IE 9 */
  -webkit-transform: rotate(45deg);
  /* Chrome, Safari, Opera */
  transform: rotate(45deg);
  border-right: 2px solid white;
  border-bottom: 2px solid white;
  margin: 0 0 3px 4px;
  width: 16px;
  height: 16px;
}
.unu {
  margin-top: 1px;
}
.unu,
.doi,
.trei {
  -webkit-animation: mouse-scroll 1s infinite;
  -moz-animation: mouse-scroll 1s infinite;
}
.unu {
  -webkit-animation-delay: .1s;
  -moz-animation-delay: .1s;
  -webkit-animation-direction: alternate;
}
.doi {
  -webkit-animation-delay: .2s;
  -moz-animation-delay: .2s;
  -webkit-animation-direction: alternate;
  margin-top: -6px;
}
.trei {
  -webkit-animation-delay: .3s;
  -moz-animation-delay: .3s;
  -webkit-animation-direction: alternate;
  margin-top: -6px;
}
.mouse {
  height: 42px;
  width: 24px;
  border-radius: 14px;
  transform: none;
  border: 2px solid white;
  top: 170px;
  display: none;
}
@media (min-width: 768px) {
  .mouse {
    display: block;
  }
}
.wheel {
  height: 5px;
  width: 2px;
  display: block;
  margin: 5px auto;
  background: white;
  position: relative;
  height: 4px;
  width: 4px;
  border: 2px solid white;
  -webkit-border-radius: 8px;
  border-radius: 8px;
}
.wheel {
  -webkit-animation: mouse-wheel 0.6s linear infinite;
  -moz-animation: mouse-wheel 0.6s linear infinite;
}
@-webkit-keyframes mouse-wheel {
  0% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(6px);
    -ms-transform: translateY(6px);
    transform: translateY(6px);
  }
}
@-moz-keyframes mouse-wheel {
  0% {
    top: 1px;
  }
  25% {
    top: 2px;
  }
  50% {
    top: 3px;
  }
  75% {
    top: 2px;
  }
  100% {
    top: 1px;
  }
}
@-webkit-keyframes mouse-scroll {
  0% {
    opacity: 0;
  }
  50% {
    opacity: .5;
  }
  100% {
    opacity: 1;
  }
}
@-moz-keyframes mouse-scroll {
  0% {
    opacity: 0;
  }
  50% {
    opacity: .5;
  }
  100% {
    opacity: 1;
  }
}
@-o-keyframes mouse-scroll {
  0% {
    opacity: 0;
  }
  50% {
    opacity: .5;
  }
  100% {
    opacity: 1;
  }
}
@keyframes mouse-scroll {
  0% {
    opacity: 0;
  }
  50% {
    opacity: .5;
  }
  100% {
    opacity: 1;
  }
}
.header {
  position: relative;
  min-height: 390px;
  background-color: #1D6DAC;
  background-image: url("../img/background/bg-10.jpg");
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
  padding-top: 20px;
  padding-bottom: 22px;
}
@media (min-width: 768px) {
  .header {
    min-height: 560px;
    padding-top: 57px;
    padding-bottom: 45px;
  }
}
@media (min-width: 1200px) {
  .header {
    min-height: 800px;
    padding-top: 55px;
    padding-bottom: 40px;
  }
}
.header__avatar {
  overflow: hidden;
  margin-top: 0px;
  margin-bottom: 35px;
  margin-left: auto;
  margin-right: auto;
  height: 110px;
  width: 110px;
  border-radius: 55px;
  background-image: url("../img/ui-kit-assets/user-avatar-placeholder-big.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  box-shadow: 0px 0px 40px #48779f;
}
@media (min-width: 768px) {
  .header__avatar {
    margin-top: 61px;
    margin-bottom: 48px;
  }
}
@media (min-width: 1200px) {
  .header__avatar {
    margin-top: 105px;
    margin-bottom: 38px;
  }
}
.header__heading {
  text-align: center;
  margin-bottom: 84px;
}
@media (min-width: 768px) {
  .header__heading {
    height: 78px;
    margin-bottom: 49px;
  }
}
@media (min-width: 1200px) {
  .header__heading {
    height: 102px;
    margin-bottom: 240px;
  }
}
.header__title {
  color: #fff;
  margin: 0 0 25px;
  font-size: 26px;
  line-height: 22px;
  letter-spacing: 1px;
  text-shadow: 0px 0px 40px #48779f;
  font-family: 'Noto Sans';
  font-weight: 700;
  font-style: normal;
}
@media (min-width: 768px) {
  .header__title {
    font-size: 42px;
    line-height: 30px;
    letter-spacing: 2px;
  }
}
@media (min-width: 1200px) {
  .header__title {
    font-size: 56px;
    line-height: 40px;
    letter-spacing: 3px;
    margin-bottom: 30px;
  }
}
.header__subtitle {
  color: #fff;
  font-size: 18px;
  line-height: 1;
  text-shadow: 0px 0px 40px #48779f;
  font-family: 'Noto Sans';
  font-weight: 700;
  font-style: normal;
}
@media (min-width: 768px) {
  .header__subtitle {
    font-size: 20px;
  }
}
@media (min-width: 1200px) {
  .header__subtitle {
    font-size: 26px;
  }
}
.header__hoverButton {
  width: 30px;
  height: 24px;
  margin-bottom: 0px;
  margin-left: auto;
  margin-right: auto;
}
@media (min-width: 768px) {
  .header__hoverButton {
    height: 79px;
  }
}
.navigation {
  height: 31px;
  font-size: 22px;
  line-height: 1;
  font-weight: 700;
  text-transform: uppercase;
  top: 0;
  left: 0;
  right: 0;
}
.navigation ul.navigation__list {
  display: none;
  z-index: 1;
  margin: 0;
  padding: 0;
  text-align: center;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.navigation ul.navigation__list--open {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: rgba(11, 81, 136, 0.95);
}
@media (min-width: 768px) {
  .navigation ul.navigation__list {
    display: block;
  }
}
.navigation ul.navigation__list li {
  margin: 0 0 40px;
  padding: 0;
  display: block;
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 768px) {
  .navigation ul.navigation__list li {
    display: inline-block;
    margin-right: 58px;
  }
  .navigation ul.navigation__list li:last-child {
    margin-right: 0px;
  }
}
@media (min-width: 1200px) {
  .navigation ul.navigation__list li {
    margin-right: 110px;
  }
}
.navigation a {
  color: #fff;
  text-decoration: none;
  font-size: 18px;
  line-height: 1;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-family: 'Noto Sans';
  font-weight: 700;
  font-style: normal;
}
@media (min-width: 1200px) {
  .navigation a {
    font-size: 22px;
    letter-spacing: 2px;
  }
}
.navigation a:hover,
.navigation a:focus,
.navigation a:active {
  color: #FFE400;
}
@media (min-width: 768px) {
  .navigation {
    position: relative;
  }
}
.navigation__toggle {
  display: block;
  color: #fff;
  font-size: 38px;
  position: absolute;
  top: 25px;
  right: 20px;
  z-index: 2;
}
.navigation__toggle--fixed {
  position: fixed;
}
@media (min-width: 768px) {
  .navigation__toggle {
    display: none;
  }
}
.resume {
  padding-top: 41px;
  padding-bottom: 42px;
  border-bottom: solid 1px #E8EDF3;
}
@media (min-width: 768px) {
  .resume {
    padding-top: 59px;
    padding-bottom: 60px;
  }
}
@media (min-width: 1200px) {
  .resume {
    padding-top: 86px;
    padding-bottom: 90px;
  }
}
.resume__avatar {
  height: 95px;
  width: 95px;
}
.resume__avatar-img {
  width: 100%;
  border-radius: 50%;
}
@media (min-width: 1200px) {
  .resume__avatar {
    height: 205px;
    width: 205px;
    margin-left: auto;
    margin-right: auto;
  }
}
.reume__title {
  height: 24px;
  margin-bottom: 28px;
}
@media (min-width: 768px) {
  .reume__title {
    margin-bottom: 37px;
  }
}
.resume__main-inf {
  height: 139px;
  margin-bottom: 40px;
}
@media (min-width: 768px) {
  .resume__main-inf {
    margin-bottom: 40px;
  }
}
.resume__skills-and-education-inf {
  margin-bottom: 20px;
}
@media (min-width: 768px) {
  .resume__skills-and-education-inf {
    margin-bottom: 40px;
  }
}
.resume__slills-inf {
  margin-bottom: 43px;
}
@media (min-width: 768px) {
  .resume__slills-inf {
    margin-bottom: 0px;
  }
}
@media (min-width: 1200px) {
  .resume__education-inf {
    padding-left: 30px;
  }
}
.resume__slills-inf-title {
  height: 25px;
  margin-bottom: 22px;
}
@media (min-width: 768px) {
  .resume__slills-inf-title {
    margin-bottom: 25px;
  }
}
.resume__slills-inf-block {
  height: 40px;
  margin-bottom: 22px;
}
@media (min-width: 768px) {
  .resume__slills-inf-block {
    margin-bottom: 25px;
  }
}
.resume__slills-inf-block:last-child {
  margin-bottom: 0px;
}
.portfolio {
  margin-top: 40px;
  margin-bottom: 5px;
}
@media (min-width: 768px) {
  .portfolio {
    margin-top: 60px;
    margin-bottom: 12px;
  }
}
@media (min-width: 1200px) {
  .portfolio {
    margin-top: 80px;
    margin-bottom: 17px;
  }
}
.portfolio__title {
  line-height: 32px;
  margin-bottom: 30px;
}
@media (min-width: 768px) {
  .portfolio__title {
    line-height: 42px;
  }
}
.portfolio__filter {
  margin-bottom: 20px;
}
@media (min-width: 768px) {
  .portfolio__filter {
    margin-bottom: 50px;
    display: flex;
    justify-content: space-between;
  }
}
.portfolio__filter-toggle {
  border: solid 2px #0051C1;
  display: block;
  padding: 15px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
}
@media (min-width: 768px) {
  .portfolio__filter-toggle {
    display: inline-block;
    padding: 19px 31px;
  }
}
.portfolio__works-block {
  margin-bottom: 40px;
}
@media (min-width: 768px) {
  .portfolio__works-block {
    margin-bottom: 70px;
  }
}
@media (min-width: 1200px) {
  .portfolio__works-block {
    margin-bottom: 75px;
  }
}
.portfolio__works-block-img {
  width: 100%;
  height: 190px;
  padding-bottom: 25px;
}
@media (min-width: 1200px) {
  .portfolio__works-block-img {
    height: 250px;
  }
}
.portfolio__works-block-title {
  line-height: 17px;
  margin-bottom: 15px;
}
@media (min-width: 768px) {
  .portfolio__works-block-title {
    line-height: 23px;
  }
}
@media (min-width: 1200px) {
  .portfolio__works-block-title {
    font-size: 24px;
    line-height: 25px;
    border-bottom: 1px dotted #000000;
  }
}
.portfolio__works-block-text {
  line-height: 17px;
}
@media (min-width: 1200px) {
  .portfolio__works-block-text {
    line-height: 19px;
  }
}
.contacts {
  background: #055A97;
  padding-top: 60px;
  padding-bottom: 50px;
}
@media (min-width: 768px) {
  .contacts {
    padding-bottom: 60px;
  }
}
@media (min-width: 1200px) {
  .contacts {
    padding-top: 80px;
    padding-bottom: 80px;
  }
}
.contacts__block {
  color: #fff;
  margin-bottom: 50px;
}
@media (min-width: 768px) {
  .contacts__block {
    margin-bottom: 0px;
  }
}
.contacts__block-title {
  margin: 0px;
  margin-bottom: 20px;
}
@media (min-width: 768px) {
  .contacts__block-title {
    padding-bottom: 45px;
  }
}
.contacts__block-description {
  margin-bottom: 30px;
}
@media (min-width: 768px) {
  .contacts__block-description {
    padding-bottom: 45px;
  }
}
@media (min-width: 768px) {
  .contacts__block-description {
    padding-bottom: 35px;
  }
}
.contacts__block-contact {
  margin-bottom: 23px;
}
@media (min-width: 768px) {
  .contacts__block-contact {
    margin-bottom: 28px;
  }
}
@media (min-width: 1200px) {
  .contacts__block-contact {
    margin-bottom: 50px;
  }
}
.contacts__block-item {
  margin-bottom: 23px;
}
.contacts__block-item:last-child {
  margin-bottom: 0px;
}
@media (min-width: 768px) {
  .contacts__block-item {
    padding-bottom: 45px;
  }
}
/* ------------------------------
              form
   ----------------------------- */
/*  ------- переменная --------- */
.input {
  margin-bottom: 10px;
  font-size: 16px;
}
.contact-form__block {
  color: #fff;
}
.contact-form__title {
  font-size: 24px;
  line-height: 19px;
  margin-bottom: 25px;
}
.contact-form__form {
  font-size: 0px;
}
.contact-form__name {
  width: 100%;
  margin-bottom: 10px;
  font-size: 16px;
}
.contact-form__email {
  width: 100%;
  margin-bottom: 10px;
  font-size: 16px;
}
.contact-form__scype {
  width: 50%;
  margin-bottom: 10px;
  font-size: 16px;
}
.contact-form__phone-number {
  width: 50%;
  margin-bottom: 10px;
  font-size: 16px;
}
.contact-form__massage {
  width: 100%;
  margin-bottom: 10px;
  font-size: 16px;
}
.contact-form__submit {
  height: 60px;
  width: 100%;
  color: #fff;
  background: #055A97;
  border: solid 4px #fff;
  border-radius: 30px;
  line-height: 18px;
  font-size: 18px;
}
@media (min-width: 768px) {
  .contact-form__submit {
    width: 209px;
  }
}
@media (min-width: 1200px) {
  .contact-form__submit {
    width: 229px;
  }
}
.footer {
  background: #003F6D;
  padding-top: 40px;
  padding-bottom: 40px;
}
.footer__block {
  color: #fff;
}
.footer__copyright {
  margin: 0px;
  margin-bottom: 10px;
  font-size: 16px;
  line-height: 1;
  color: #82B3D7;
}
@media (min-width: 768px) {
  .footer__copyright {
    margin-bottom: 15px;
  }
}
.footer__text {
  margin: 0px;
  font-size: 14px;
  line-height: 22px;
  color: #5E92B9;
}
@media (min-width: 768px) {
  .footer__text {
    line-height: 1;
    margin-bottom: 10px;
  }
}
.footer__text:last-child {
  margin-bottom: 0px;
}
.footer__text a {
  text-decoration: underline;
  color: #5E92B9;
}
.footer__text a:hover,
.footer__text a:active {
  color: #FFE400;
}
.block {
  background: #9AB3C6;
}
.block--green {
  background: #00A650;
}
.block--orange {
  background: #F27420;
}
/*# sourceMappingURL=main.css.map */