@import url("../fonts/noto-webfont/noto.css");
@import url("../fonts/font-awesome/css/font-awesome.css");
.noto-sans-normal {
  font-family: 'Noto Sans';
  font-weight: 400;
  font-style: normal;
}
.noto-sans-bold {
  font-family: 'Noto Sans';
  font-weight: 700;
  font-style: normal;
}
.noto-sans-normal-italic {
  font-family: 'Noto Sans';
  font-weight: 400;
  font-style: italic;
}
.noto-sans-bold-italic {
  font-family: 'Noto Sans';
  font-weight: 700;
  font-style: italic;
}
.yellow {
  color: #FFE400;
}
.blueHeading {
  color: #0052C2;
}
.blueBackground {
  background: #0052C2;
}
.standadrt-text {
  color: #010101;
  font-size: 14px;
  line-height: 22px;
  margin: 0;
}
@media (min-width: 768px) {
  .standadrt-text {
    font-size: 16px;
    line-height: 28px;
  }
}
.button a {
  display: inline-block;
  text-decoration: none;
  padding: 14px 26px;
  font-size: 16px;
  font-family: 'Noto Sans';
  font-weight: 700;
  font-style: normal;
  text-align: center;
  border-radius: 60px;
  background: #0052C2;
  box-shadow: 0px 3px 15px rgba(0, 81, 193, 0.5);
}
.button a:hover,
.button a:focus {
  background: #fff;
  color: #0052C2;
}
.button a:active {
  background: #0052C2;
  color: #FFE400;
}
.button a .fa {
  font-size: 18px;
  margin-right: 5px;
}
.button--download a {
  color: #fff;
}
.cmn-toggle-switch {
  display: block;
  position: absolute;
  z-index: 5;
  top: 23px;
  right: 16px;
  overflow: hidden;
  margin: 0;
  padding: 0;
  width: 50px;
  height: 45px;
  font-size: 0;
  text-indent: -9999px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  box-shadow: none;
  border-radius: none;
  border: none;
  cursor: pointer;
  -webkit-transition: background 0.3s;
  transition: background 0.3s;
}
@media (min-width: 768px) {
  .cmn-toggle-switch {
    display: none;
  }
}
.cmn-toggle-switch:focus {
  outline: none;
}
/* -----------------------------
         Второй блок стилей 
----------------------------- */
.cmn-toggle-switch span {
  display: block;
  position: absolute;
  top: 20px;
  left: 5px;
  right: 5px;
  height: 5px;
  background: white;
}
.cmn-toggle-switch span::before,
.cmn-toggle-switch span::after {
  position: absolute;
  display: block;
  left: 0;
  width: 100%;
  height: 5px;
  background-color: #fff;
  content: "";
}
.cmn-toggle-switch span::before {
  top: -12px;
}
.cmn-toggle-switch span::after {
  bottom: -12px;
}
/* -----------------------------
          Стили Анимации
----------------------------- */
.cmn-toggle-switch__htx {
  background: transparent;
}
.cmn-toggle-switch__htx span {
  -webkit-transition: background 0 0.3s;
  transition: background 0 0.3s;
}
.cmn-toggle-switch__htx span::before,
.cmn-toggle-switch__htx span::after {
  -webkit-transition-duration: 0.3s, 0.3s;
  transition-duration: 0.3s, 0.3s;
  -webkit-transition-delay: 0.3s, 0;
  transition-delay: 0.3s, 0;
}
.cmn-toggle-switch__htx span::before {
  -webkit-transition-property: top, -webkit-transform;
  transition-property: top, transform;
}
.cmn-toggle-switch__htx span::after {
  -webkit-transition-property: bottom, -webkit-transform;
  transition-property: bottom, transform;
}
/* active state*/
.cmn-toggle-switch__htx.active span {
  background: none;
}
.cmn-toggle-switch__htx.active span::before {
  top: 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.cmn-toggle-switch__htx.active span::after {
  bottom: 0;
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.cmn-toggle-switch__htx.active span::before,
.cmn-toggle-switch__htx.active span::after {
  -webkit-transition-delay: 0, 0.3s;
  transition-delay: 0, 0.3s;
}
a.mouse_scroll {
  display: block;
  margin: 0 auto;
  width: 24px;
  height: 100px;
  position: absolute;
  bottom: 2rem;
  left: 50%;
  margin-left: -12px;
  -webkit-animation-delay: 1.2s;
  -moz-animation-delay: 1.2s;
  -o-animation-delay: 1.2s;
  animation-delay: 1.2s;
  cursor: pointer;
}
@media screen and (max-width: 768px) {
  a.mouse_scroll {
    height: 100px;
  }
}
@media screen and (max-width: 768px) {
  a.mouse_scroll {
    bottom: 2rem;
    height: 50px;
  }
}
a.mouse_scroll:active,
a.mouse_scroll:focus {
  outline: none;
}
.m_scroll_arrows {
  display: block;
  width: 5px;
  height: 5px;
  -ms-transform: rotate(45deg);
  /* IE 9 */
  -webkit-transform: rotate(45deg);
  /* Chrome, Safari, Opera */
  transform: rotate(45deg);
  border-right: 2px solid white;
  border-bottom: 2px solid white;
  margin: 0 0 3px 4px;
  width: 16px;
  height: 16px;
}
.unu {
  margin-top: 1px;
}
.unu,
.doi,
.trei {
  -webkit-animation: mouse-scroll 1s infinite;
  -moz-animation: mouse-scroll 1s infinite;
}
.unu {
  -webkit-animation-delay: .1s;
  -moz-animation-delay: .1s;
  -webkit-animation-direction: alternate;
}
.doi {
  -webkit-animation-delay: .2s;
  -moz-animation-delay: .2s;
  -webkit-animation-direction: alternate;
  margin-top: -6px;
}
.trei {
  -webkit-animation-delay: .3s;
  -moz-animation-delay: .3s;
  -webkit-animation-direction: alternate;
  margin-top: -6px;
}
.mouse {
  height: 42px;
  width: 24px;
  border-radius: 14px;
  transform: none;
  border: 2px solid white;
  top: 170px;
  display: none;
}
@media (min-width: 768px) {
  .mouse {
    display: block;
  }
}
.wheel {
  height: 5px;
  width: 2px;
  display: block;
  margin: 5px auto;
  background: white;
  position: relative;
  height: 4px;
  width: 4px;
  border: 2px solid white;
  -webkit-border-radius: 8px;
  border-radius: 8px;
}
.wheel {
  -webkit-animation: mouse-wheel 0.6s linear infinite;
  -moz-animation: mouse-wheel 0.6s linear infinite;
}
@-webkit-keyframes mouse-wheel {
  0% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(6px);
    -ms-transform: translateY(6px);
    transform: translateY(6px);
  }
}
@-moz-keyframes mouse-wheel {
  0% {
    top: 1px;
  }
  25% {
    top: 2px;
  }
  50% {
    top: 3px;
  }
  75% {
    top: 2px;
  }
  100% {
    top: 1px;
  }
}
@-webkit-keyframes mouse-scroll {
  0% {
    opacity: 0;
  }
  50% {
    opacity: .5;
  }
  100% {
    opacity: 1;
  }
}
@-moz-keyframes mouse-scroll {
  0% {
    opacity: 0;
  }
  50% {
    opacity: .5;
  }
  100% {
    opacity: 1;
  }
}
@-o-keyframes mouse-scroll {
  0% {
    opacity: 0;
  }
  50% {
    opacity: .5;
  }
  100% {
    opacity: 1;
  }
}
@keyframes mouse-scroll {
  0% {
    opacity: 0;
  }
  50% {
    opacity: .5;
  }
  100% {
    opacity: 1;
  }
}
.header {
  position: relative;
  min-height: 390px;
  background-color: #1D6DAC;
  background-image: url("../img/background/bg-10.jpg");
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
  padding-top: 20px;
  padding-bottom: 22px;
}
@media (min-width: 768px) {
  .header {
    min-height: 560px;
    padding-top: 57px;
    padding-bottom: 45px;
  }
}
@media (min-width: 1200px) {
  .header {
    min-height: 800px;
    padding-top: 55px;
    padding-bottom: 40px;
  }
}
.header__avatar {
  overflow: hidden;
  margin-top: 0px;
  margin-bottom: 35px;
  margin-left: auto;
  margin-right: auto;
  height: 110px;
  width: 110px;
  border-radius: 55px;
  background-image: url("../img/ui-kit-assets/user-avatar-placeholder-big.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  box-shadow: 0px 0px 40px #48779f;
}
.header__avatar-img {
  width: 100%;
}
@media (min-width: 768px) {
  .header__avatar {
    margin-top: 61px;
    margin-bottom: 48px;
  }
}
@media (min-width: 1200px) {
  .header__avatar {
    margin-top: 105px;
    margin-bottom: 38px;
  }
}
.header__heading {
  text-align: center;
  margin-bottom: 84px;
}
@media (min-width: 768px) {
  .header__heading {
    margin-bottom: 49px;
  }
}
@media (min-width: 1200px) {
  .header__heading {
    margin-bottom: 240px;
  }
}
.header__title {
  color: #fff;
  margin: 0 0 25px;
  font-size: 26px;
  line-height: 22px;
  letter-spacing: 1px;
  text-shadow: 0px 0px 40px #48779f;
  font-family: 'Noto Sans';
  font-weight: 700;
  font-style: normal;
}
@media (min-width: 768px) {
  .header__title {
    font-size: 42px;
    line-height: 30px;
    letter-spacing: 2px;
  }
}
@media (min-width: 1200px) {
  .header__title {
    font-size: 56px;
    line-height: 40px;
    letter-spacing: 3px;
    margin-bottom: 30px;
  }
}
.header__subtitle {
  color: #fff;
  font-size: 18px;
  line-height: 1.5;
  text-shadow: 0px 0px 40px #48779f;
  font-family: 'Noto Sans';
  font-weight: 700;
  font-style: normal;
}
@media (min-width: 768px) {
  .header__subtitle {
    font-size: 20px;
    line-height: 1;
  }
}
@media (min-width: 1200px) {
  .header__subtitle {
    font-size: 26px;
  }
}
.header__hoverButton {
  width: 30px;
  height: 24px;
  margin-bottom: 0px;
  margin-left: auto;
  margin-right: auto;
}
@media (min-width: 768px) {
  .header__hoverButton {
    height: 79px;
  }
}
.navigation {
  height: 31px;
  font-size: 22px;
  line-height: 1;
  font-weight: 700;
  text-transform: uppercase;
  top: 0;
  left: 0;
  right: 0;
}
.navigation ul.navigation__list {
  display: none;
  z-index: 1;
  margin: 0;
  padding: 0;
  text-align: center;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.navigation ul.navigation__list--open {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: rgba(11, 81, 136, 0.95);
}
@media (min-width: 768px) {
  .navigation ul.navigation__list {
    display: block;
  }
}
.navigation ul.navigation__list li {
  margin: 0 0 40px;
  padding: 0;
  display: block;
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 768px) {
  .navigation ul.navigation__list li {
    display: inline-block;
    margin-right: 58px;
  }
  .navigation ul.navigation__list li:last-child {
    margin-right: 0px;
  }
}
@media (min-width: 1200px) {
  .navigation ul.navigation__list li {
    margin-right: 110px;
  }
}
.navigation a {
  color: #fff;
  text-decoration: none;
  font-size: 18px;
  line-height: 1;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-family: 'Noto Sans';
  font-weight: 700;
  font-style: normal;
}
@media (min-width: 1200px) {
  .navigation a {
    font-size: 22px;
    letter-spacing: 2px;
  }
}
.navigation a:hover,
.navigation a:focus,
.navigation a:active {
  color: #FFE400;
}
@media (min-width: 768px) {
  .navigation {
    position: relative;
  }
}
.resume {
  padding-top: 40px;
  padding-bottom: 42px;
  border-bottom: solid 1px #E8EDF3;
}
@media (min-width: 768px) {
  .resume {
    padding-top: 59px;
    padding-bottom: 60px;
  }
}
@media (min-width: 1200px) {
  .resume {
    padding-top: 87px;
    padding-bottom: 90px;
  }
}
@media (min-width: 1500px) {
  .resume--bg-laptop {
    background-image: url('../img/background/laptop.png');
    background-repeat: no-repeat;
    background-position: right 70%;
  }
}
.resume__avatar {
  overflow: hidden;
  height: 95px;
  width: 95px;
  border-radius: 50px;
  background-image: url("../img/ui-kit-assets/user-avatar-placeholder-big.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.resume__avatar-img {
  width: 100%;
}
@media (min-width: 1200px) {
  .resume__avatar {
    height: 205px;
    width: 205px;
    border-radius: 110px;
    margin-left: auto;
    margin-right: auto;
  }
}
.resume__title {
  margin: 0px;
  padding: 0px;
  margin-bottom: 22px;
  color: #0052C2;
  font-size: 32px;
  line-height: 24px;
  font-family: 'Noto Sans';
  font-weight: 700;
  font-style: normal;
}
@media (min-width: 768px) {
  .resume__title {
    margin-bottom: 32px;
    font-size: 42px;
    line-height: 30px;
  }
}
/* --------------------------------
       	resume__main-inf
----------------------------------- */
.resume__main-inf {
  margin-bottom: 37px;
  font-family: 'Noto Sans';
  font-weight: 400;
  font-style: normal;
}
.resume__main-inf-person {
  margin-bottom: 10px;
}
.resume__main-inf p {
  color: #010101;
  font-size: 14px;
  line-height: 22px;
  margin: 0;
}
.resume__main-inf p strong {
  font-size: 18px;
  height: 28px;
}
@media (min-width: 768px) {
  .resume__main-inf p {
    font-size: 16px;
    line-height: 28px;
  }
}
@media (min-width: 768px) {
  .resume__main-inf {
    margin-bottom: 30px;
    padding-right: 40px;
  }
}
/* --------------------------------
       	resume__story-block
----------------------------------- */
.resume__story-block {
  margin-bottom: 0px;
}
@media (min-width: 768px) {
  .resume__story-block {
    margin-bottom: 20px;
  }
}
@media (min-width: 1200px) {
  .resume__story-block {
    margin-bottom: 20px;
  }
}
.resume__story-inf {
  margin-bottom: 21px;
}
@media (min-width: 768px) {
  .resume__story-inf {
    margin-bottom: 25px;
  }
}
.resume__story-inf--offmargin {
  margin-bottom: 0px;
}
.resume__story-inf-title {
  margin-bottom: 18px;
}
.resume__story-inf-title h3 {
  line-height: 28px;
  font-size: 24px;
  margin: 0px;
  padding: 0px;
  font-family: 'Noto Sans';
  font-weight: 700;
  font-style: normal;
}
.resume__story-inf-column {
  margin: 0px;
  padding: 0px;
}
.resume__story-inf-list {
  margin: 0px;
  padding: 0px;
  list-style-type: none;
}
.resume__story-inf-time {
  font-size: 14px;
  line-height: 26px;
  text-transform: uppercase;
  font-family: 'Noto Sans';
  font-weight: 700;
  font-style: normal;
  color: #0052C2;
}
.resume__story-inf-time p {
  margin: 0px;
  padding: 0px;
}
.resume__story-inf-description {
  padding-bottom: 15px;
  font-family: 'Noto Sans';
  font-weight: 400;
  font-style: normal;
  color: #010101;
  font-size: 14px;
  line-height: 22px;
  margin: 0;
}
@media (min-width: 768px) {
  .resume__story-inf-description {
    font-size: 16px;
    line-height: 28px;
  }
}
.resume__story-inf-description p {
  margin: 0px;
  padding: 0px;
}
.portfolio {
  padding-top: 40px;
  margin-bottom: 10px;
}
@media (min-width: 768px) {
  .portfolio {
    margin-top: 60px;
    margin-bottom: 12px;
  }
}
@media (min-width: 1200px) {
  .portfolio {
    margin-top: 80px;
    margin-bottom: 17px;
  }
}
@media (min-width: 1500px) {
  .portfolio--bg-gear {
    background-image: url('../img/background/gear.png');
    background-repeat: no-repeat;
    background-position: left 55%;
  }
}
.portfolio__title {
  text-align: center;
  margin: 0px;
  padding: 0px;
  margin-bottom: 35px;
  color: #0052C2;
  font-size: 32px;
  line-height: 24px;
  font-family: 'Noto Sans';
  font-weight: 700;
  font-style: normal;
}
@media (min-width: 768px) {
  .portfolio__title {
    margin-bottom: 43px;
    font-size: 42px;
    line-height: 30px;
  }
}
.portfolio__works-block {
  margin-bottom: 40px;
  margin-right: auto;
  margin-left: auto;
  max-width: 360px;
}
@media (min-width: 768px) {
  .portfolio__works-block {
    margin-bottom: 70px;
  }
}
@media (min-width: 1200px) {
  .portfolio__works-block {
    margin-bottom: 98px;
  }
}
.portfolio__works-block-img {
  overflow: hidden;
  position: relative;
  display: block;
  margin-bottom: 23px;
  background-image: url("../img/ui-kit-assets/project_placeholder.jpg");
  background-repeat: no-repeat;
  background-position: center;
  -webkit-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  min-height: 190px;
  margin-right: auto;
  margin-left: auto;
  min-width: 280px;
}
.portfolio__works-block-img img {
  max-width: 100%;
}
@media (min-width: 768px) {
  .portfolio__works-block-img {
    margin: 0;
    margin-bottom: 20px;
    min-width: 220px;
    min-height: 150px;
    overflow: hidden;
  }
}
@media (min-width: 982px) {
  .portfolio__works-block-img {
    min-width: 280px;
    min-height: 200px;
    overflow: hidden;
  }
}
@media (min-width: 1200px) {
  .portfolio__works-block-img {
    min-width: 360px;
    min-height: 250px;
  }
}
.portfolio__works-block-img__hover {
  display: block;
  position: absolute;
  top: 100%;
  bottom: 0;
  left: 0;
  right: 0;
  padding-top: 60px;
  text-align: center;
  font-size: 26px;
  color: #fff;
  background: rgba(0, 82, 194, 0.9);
  -webkit-transition: top 0.5s ease-out;
  transition: top 0.5s ease-out;
  font-family: 'Noto Sans';
  font-weight: 400;
  font-style: normal;
}
.portfolio__works-block-img__hover:hover {
  color: #FFF;
  text-decoration: none;
}
.portfolio__works-block-img__hover .fa {
  font-size: 64px;
  margin-bottom: 15px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
@media (min-width: 768px) {
  .portfolio__works-block-img__hover .fa {
    font-size: 50px;
  }
}
@media (min-width: 1200px) {
  .portfolio__works-block-img__hover .fa {
    font-size: 64px;
    position: static;
    -webkit-transform: translate(0%, 0%);
    transform: translate(0%, 0%);
  }
}
.portfolio__works-block-img__hover span {
  display: none;
}
@media (min-width: 1200px) {
  .portfolio__works-block-img__hover span {
    display: inline-block;
  }
}
.portfolio__works-block-title {
  margin-top: 0;
  margin-bottom: 15px;
  font-size: 20px;
  line-height: 17px;
  color: #000;
  font-family: 'Noto Sans';
  font-weight: 700;
  font-style: normal;
}
@media (min-width: 768px) {
  .portfolio__works-block-title {
    line-height: 23px;
  }
}
@media (min-width: 1200px) {
  .portfolio__works-block-title {
    font-size: 24px;
    line-height: 30px;
    border-bottom: 1px dotted #000000;
  }
}
.portfolio__works-block-title:hover,
.portfolio__works-block-title:active,
.portfolio__works-block-title:focus {
  text-decoration: none;
  color: #0052C2;
}
.portfolio__works-block-text {
  font-size: 14px;
  line-height: 20px;
  font-family: 'Noto Sans';
  font-weight: 400;
  font-style: normal;
}
@media (min-width: 1200px) {
  .portfolio__works-block-text {
    line-height: 19px;
  }
}
/* 
После закрытия fancyBox классу в состояние focus
.portfolio__works-block-img__hover:
добавляется position - 250
 */
/* Устранения бага с fancyBox strart */
.portfolio__works-block-img__hover:focus {
  display: none;
}
.portfolio__works-block-title:focus {
  outline: none;
}
/* Устранения бага с fancyBox end */
.portfolio__works-block-img:hover .portfolio__works-block-img__hover {
  display: block;
  top: 0%;
}
.filter-box {
  margin-bottom: 7px;
}
@media (min-width: 768px) {
  .filter-box {
    margin-bottom: 42px;
  }
}
.filter-box__block {
  margin: 0;
  padding: 0;
  text-align: center;
  font-size: 0px;
}
.filter-box__element {
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-align: center;
  display: block;
  font-size: 0px;
}
.filter-box__element:last-child {
  margin-right: 0px;
}
@media (min-width: 768px) {
  .filter-box__element {
    display: inline-block;
    margin-right: -3px;
  }
}
@media (min-width: 1200px) {
  .filter-box__element {
    margin-right: 14px;
  }
}
.filter-box__toggle {
  font-size: 16px;
  color: #CECECE;
  text-transform: uppercase;
  display: inline-block;
  padding: 9px 22px;
  margin-bottom: 10px;
  cursor: pointer;
  font-family: 'Noto Sans';
  font-weight: 700;
  font-style: normal;
}
.filter-box__toggle:hover,
.filter-box__toggle:focus,
.filter-box__toggle:focus {
  color: #000;
  border: solid 2px #0051C1;
  padding: 7px 20px;
}
@media (min-width: 768px) {
  .filter-box__toggle {
    display: inline-block;
    padding: 14px 31px;
  }
  .filter-box__toggle:hover,
  .filter-box__toggle:focus,
  .filter-box__toggle:focus {
    border: solid 2px #0051C1;
    padding: 12px 29px;
  }
}
.mixitup-control-active span {
  color: #000;
  border: solid 2px #0051C1;
  padding: 7px 20px;
}
@media (min-width: 768px) {
  .mixitup-control-active span {
    display: inline-block;
    padding: 12px 29px;
  }
}
.contacts {
  background: #055A97;
  padding-top: 60px;
  padding-bottom: 50px;
}
@media (min-width: 768px) {
  .contacts {
    padding-bottom: 60px;
  }
}
@media (min-width: 1200px) {
  .contacts {
    padding-top: 80px;
    padding-bottom: 80px;
  }
}
@media (min-width: 1500px) {
  .contacts--bg-cloud {
    background-image: url('../img/background/cloud.png');
    background-repeat: no-repeat;
    background-position: right 55%;
  }
}
.contacts__block {
  color: #fff;
  margin-bottom: 50px;
}
@media (min-width: 768px) {
  .contacts__block {
    margin-bottom: 0px;
  }
}
.contacts__block-title {
  padding: 0;
  margin: 0px;
  margin-bottom: 20px;
  font-size: 32px;
  line-height: 38px;
  font-family: 'Noto Sans';
  font-weight: 700;
  font-style: normal;
}
@media (min-width: 768px) {
  .contacts__block-title {
    margin-bottom: 20px;
    font-size: 42px;
    letter-spacing: 0px;
    line-height: 50px;
  }
}
@media (min-width: 1200px) {
  .contacts__block-title {
    margin-bottom: 25px;
  }
}
.contacts__block-description {
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 22px;
  font-family: 'Noto Sans';
  font-weight: 400;
  font-style: normal;
}
.contacts__block-description p {
  margin: 0;
  padding: 0;
}
@media (min-width: 768px) {
  .contacts__block-description {
    margin-bottom: 20px;
    font-size: 16px;
    line-height: 28px;
  }
}
@media (min-width: 1200px) {
  .contacts__block-description {
    margin-bottom: 10px;
  }
}
.contacts__block-contact {
  margin-bottom: 23px;
}
@media (min-width: 768px) {
  .contacts__block-contact {
    margin-bottom: 28px;
  }
}
@media (min-width: 1200px) {
  .contacts__block-contact {
    margin-bottom: 50px;
  }
}
.contacts__block-item {
  font-family: 'Noto Sans';
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  line-height: 24px;
  color: #fff;
  margin-bottom: 0px;
}
.contacts__block-item h3 {
  padding: 0;
  color: #A2D1F4;
  text-transform: uppercase;
  font-family: 'Noto Sans';
  font-weight: 700;
  font-style: normal;
  margin-bottom: 4px;
}
.contacts__block-item p {
  margin: 0;
  padding: 0;
  display: inline-block;
  border-bottom: 1px dotted #fff;
}
.contacts__block-item p a {
  text-decoration: none;
  color: #fff;
}
.contacts__block-item:last-child {
  margin-bottom: 0px;
}
.contacts__block-item---none-underline p {
  border-bottom: none;
}
@media (min-width: 1200px) {
  .contacts__block-item--left-padding {
    padding-left: 80px;
  }
}
.contacts__block-social-icons {
  font-size: 0px;
  padding-top: 15px;
  text-align: left;
}
@media (min-width: 768px) {
  .contacts__block-social-icons {
    padding-top: 10px;
  }
}
.contacts__block-social-icons .fa {
  color: #fff;
  font-size: 32px;
  text-align: left;
  margin-right: 35px;
  text-decoration: none;
}
@media (min-width: 768px) {
  .contacts__block-social-icons .fa {
    margin-right: 42px;
  }
}
.contacts__block-social-icons .fa:last-child {
  margin-right: 0;
}
.contacts__block-social-icons .fa:hover,
.contacts__block-social-icons .fa:focus,
.contacts__block-social-icons .fa:active {
  text-decoration: none;
  cursor: pointer;
  color: #FFE400;
}
.form__block {
  color: #fff;
}
.form__title {
  font-family: 'Noto Sans';
  font-weight: 700;
  font-style: normal;
  font-size: 24px;
  line-height: 19px;
  margin-bottom: 25px;
}
.form__form {
  font-size: 0px;
}
.form__input {
  width: 100%;
  color: #065A97;
  border-radius: 8px;
  border: none;
  margin-bottom: 10px;
  font-size: 16px;
  padding: 10px 19px;
  border: solid 3px #fff;
  font-family: 'Noto Sans';
  font-weight: 700;
  font-style: normal;
  -webkit-transition: border-color 0.3s ease-in;
  transition: border-color 0.3s ease-in;
}
.form__input:active,
.form__input:focus,
.form__input:hover {
  border-radius: 8px;
  border: solid 3px #a2d1f4;
}
.form__input::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #A1B6D0;
}
.form__input::-moz-placeholder {
  /* Firefox 19+ */
  color: #A1B6D0;
}
.form__input:-ms-input-placeholder {
  /* IE 10+ */
  color: #A1B6D0;
}
.form__input:-moz-placeholder {
  /* Firefox 18- */
  color: #A1B6D0;
}
.form__input--half {
  float: left;
  display: block;
  margin-right: 2%;
  width: 49%;
}
.form__input--half:last-child {
  margin-right: 0%;
}
.form__clearfix:after {
  content: "";
  display: block;
  clear: both;
}
.form__textarea {
  color: #065A97;
  width: 100%;
  border-radius: 8px;
  border: none;
  margin-bottom: 10px;
  font-size: 16px;
  padding: 10px 19px;
  border: solid 3px #fff;
  height: 128px;
  font-family: 'Noto Sans';
  font-weight: 700;
  font-style: normal;
  -webkit-transition: border-color 0.3s ease-in;
  transition: border-color 0.3s ease-in;
}
.form__textarea:active,
.form__textarea:focus,
.form__textarea:hover {
  border-radius: 8px;
  border: solid 3px #a2d1f4;
}
.form__textarea::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #A1B6D0;
}
.form__textarea::-moz-placeholder {
  /* Firefox 19+ */
  color: #A1B6D0;
}
.form__textarea:-ms-input-placeholder {
  /* IE 10+ */
  color: #A1B6D0;
}
.form__textarea:-moz-placeholder {
  /* Firefox 18- */
  color: #A1B6D0;
}
.form__bg-pencil {
  position: relative;
}
@media (min-width: 768px) {
  .form__bg-pencil:after {
    position: absolute;
    left: 63%;
    top: 73%;
    display: block;
    width: 203px;
    height: 153px;
    content: "";
    background-image: url("../img/background/pencil.png");
    background-repeat: no-repeat;
    background-position: left top;
  }
}
@media (min-width: 1200px) {
  .form__bg-pencil:after {
    position: absolute;
    left: 75%;
    top: 75%;
    display: block;
    width: 203px;
    height: 153px;
    content: "";
    background-image: url("../img/background/pencil.png");
    background-repeat: no-repeat;
    background-position: left top;
  }
}
.form__submit {
  padding: 18px 93px 20px;
  font-family: 'Noto Sans';
  font-weight: 700;
  font-style: normal;
  width: 100%;
  color: #fff;
  background-color: #065A97;
  border: solid 4px #fff;
  border-radius: 30px;
  line-height: 18px;
  font-size: 18px;
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
.form__submit:focus,
.form__submit:hover {
  color: #065A97;
  background: #fff;
  background-color: #fff;
}
.form__submit:active {
  color: #FFE400;
  background-color: #065A97;
  border: solid 4px #FFE400;
}
@media (min-width: 768px) {
  .form__submit {
    padding: 16px 50px 18px;
    width: auto;
    font-size: 22px;
    line-height: 22px;
  }
}
label.error {
  position: relative;
  background-color: #c62828;
  display: block;
  border-radius: 4px;
  color: #fff;
  padding: 5px 15px 7px;
  font-size: 16px;
  margin-bottom: 15px;
  margin-top: 1px;
  font-family: 'Noto Sans';
  font-weight: 700;
  font-style: normal;
}
label.error:after {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 40px;
  margin-left: -8px;
  width: 0;
  height: 0;
  border-bottom: 15px solid #c62828;
  border-right: 15px solid transparent;
  border-left: 15px solid transparent;
}
.contact-form__success {
  color: #fff;
  position: relative;
  background-color: #c62828;
  display: block;
  border-radius: 4px;
  background: #43A047;
  padding: 5px 15px 7px;
  font-size: 16px;
  margin-bottom: 15px;
  margin-top: 1px;
  font-family: 'Noto Sans';
  font-weight: 700;
  font-style: normal;
}
.footer {
  background: #003F6D;
  padding-top: 40px;
  padding-bottom: 40px;
}
.footer__block {
  color: #fff;
  font-family: 'Noto Sans';
  font-weight: 400;
  font-style: normal;
}
.footer__copyright {
  margin: 0px;
  margin-bottom: 10px;
  font-size: 16px;
  line-height: 1;
  color: #82B3D7;
}
@media (min-width: 768px) {
  .footer__copyright {
    margin-bottom: 15px;
  }
}
.footer__text {
  margin: 0px;
  font-size: 14px;
  line-height: 22px;
  color: #5E92B9;
}
@media (min-width: 768px) {
  .footer__text {
    line-height: 1;
    margin-bottom: 10px;
  }
}
.footer__text:last-child {
  margin-bottom: 0px;
}
.footer__text a {
  text-decoration: underline;
  color: #5E92B9;
}
.footer__text a:hover,
.footer__text a:active {
  color: #FFE400;
}
/*# sourceMappingURL=main.css.map */