.contacts{
	background: #055A97;
	padding-top: 60px;
	padding-bottom: 50px;
	@media (min-width: 768px){
		padding-bottom: 60px;
	}
	@media (min-width: 1200px){
		padding-top: 80px;
		padding-bottom: 80px;
	}
	@media (min-width: 1500px){
			&--bg-cloud{
			background-image: url('../img/background/cloud.png');
			background-repeat: no-repeat;
			background-position: right 55%;
		}
	}	
}
.contacts__block{
	color: #fff;
	margin-bottom: 50px;
	@media (min-width: 768px){
		margin-bottom: 0px;
	}
}
.contacts__block-title{
	padding: 0;
	margin: 0px;
	margin-bottom: 20px;
	font-size: 32px;
	line-height: 38px; 	
	.noto-sans-bold;
	@media (min-width: 768px){
		margin-bottom: 20px;
		font-size: 42px;
		letter-spacing: 0px;
		line-height: 50px; 
	}
	@media (min-width: 1200px){
		margin-bottom: 25px;
	}
}
.contacts__block-description{
	margin-bottom: 10px;
	font-size: 14px; 
	line-height: 22px;
	& p{
		margin: 0;
		padding: 0;
	}
	.noto-sans-normal;
	@media (min-width: 768px){
		margin-bottom:  20px;
		font-size: 16px; 
		line-height: 28px;
	}
	@media (min-width: 1200px){
		margin-bottom: 10px;
	}
}
.contacts__block-contact{
	margin-bottom: 23px;
	@media (min-width: 768px){
		margin-bottom: 28px;
	}
	@media (min-width: 1200px){
		margin-bottom: 50px;
	}
}
.contacts__block-item{
	.noto-sans-normal;
	font-size: 16px;
	line-height: 24px;
	color: #fff;
	margin-bottom: 0px;
	& h3{
		padding: 0;
		color: #A2D1F4;
		text-transform: uppercase;
		.noto-sans-bold;
		margin-bottom: 4px;
	}
	& p{
		margin: 0;
		padding: 0;
		display: inline-block;
		border-bottom: 1px dotted #fff;
		& a{
			text-decoration: none;
			color: #fff;
		}
	}	
	&:last-child{
		margin-bottom: 0px;
	}
	@media (min-width: 768px){
		// margin-bottom: 45px;
	}
}
.contacts__block-item---none-underline{
	& p{
		border-bottom: none;
	}
}
.contacts__block-item--left-padding{
	@media (min-width: 1200px){
		padding-left: 80px;
	}

}
// social icons
.contacts__block-social{
}
.contacts__block-social-icons{
	font-size: 0px;
	padding-top: 15px;
	text-align: left;
	@media (min-width: 768px){
		padding-top: 10px;
	}
	.fa{
		color: #fff;
		font-size: 32px;
		text-align: left;
		margin-right: 35px;
		text-decoration: none;
		@media (min-width: 768px){
			margin-right: 42px;
		}
		&:last-child{
			margin-right: 0;
		}
		&:hover, &:focus, &:active{
			text-decoration: none;
			cursor: pointer;
			.yellow;
		}
	}

}