/*  ------- переменная --------- */
.input{
	margin-bottom: 10px;
	font-size: 16px;
}
// ------------------------------
.form__block{
	color: #fff;
}
.form__title{
	font-size: 24px;
	line-height: 19px;
	margin-bottom: 25px;
}
.form__form{
	font-size: 0px;
}
.form__name {
	width: 100%;
	.input
}
.form__email {
	width: 100%;
	.input
}
.form__scype {
	width: 50%;
	.input
}
.form__phone-number {
	width: 50%;
	.input
}
.form__massage{
	width: 100%;
	.input
}
.form__submit{
	height: 60px;
	width: 100%;
	color: #fff;
	background: #055A97;
	border: solid 4px #fff;
	border-radius: 30px;
	line-height: 18px; 
	font-size: 18px;
	@media (min-width: 768px) {
		width: 209px;	
	}
	@media (min-width: 1200px) {
		width: 229px;	
	}
}