.header{
}
.header__navigation{
	display: none;
	height: 31px;
	@media (min-width: 768px){
		margin-top: 45px; 
		display: block;
	} 
}
.header__avatar{
	margin-top: 50px;
	margin-bottom: 35px;
	margin-left: auto;
	margin-right: auto;
	height: 110px;
	width: 110px;
	&-img{
		width: 100%;
		border-radius: 50%;
	}
	@media (min-width: 768px){
		margin-top: 74px;
		margin-bottom: 51px;
	}
	@media (min-width: 1200px){
		margin-top: 114px;
	}
}
.header__heading{
	height: 82px; // убрать нужно будет
	text-align: center;	
	margin-bottom: 61px;
	@media (min-width: 768px){
		height: 78px; // убрать нужно будет
		margin-bottom: 49px;
	}
	@media (min-width: 1200px){
		height: 102px; // убрать нужно будет
		margin-bottom: 226px;
	}
}
.header__hoverButton{
	width: 30px;
	height: 24px;
	margin-bottom: 27px;
	margin-left: auto;
	margin-right: auto;
	@media (min-width: 768px){
		margin-bottom: 44px;
		height: 79px; 
	}
	@media (min-width: 1200px){
		margin-bottom: 41px;
	}
}