.portfolio {
	padding-top: 40px;
	margin-bottom: 10px;
	@media (min-width: 768px){
		margin-top: 60px;
		margin-bottom: 12px;
	}
	@media (min-width: 1200px){
		margin-top: 80px;
		margin-bottom: 17px;
	}
	@media (min-width: 1500px){
		&--bg-gear{
			background-image: url('../img/background/gear.png');
			background-repeat: no-repeat;
			background-position: left 55%;
		}
	}
}
.portfolio__title {
	text-align: center;
	margin: 0px;
	padding: 0px;
	margin-bottom: 35px;
	.blueHeading;
	font-size: 32px;
	line-height: 24px;
	.noto-sans-bold;
	@media (min-width: 768px){
		margin-bottom: 43px;
		font-size: 42px;
		line-height: 30px;
	}
}
.portfolio__works{
}
.portfolio__works-block {
	margin-bottom: 40px;
	margin-right: auto;
	margin-left: auto;
	max-width: 360px;	
	@media (min-width: 768px){
		margin-bottom: 70px;
	}
	@media (min-width: 1200px){
		margin-bottom: 98px;
	}
}
.portfolio__works-block-img {
	overflow: hidden;
	position: relative;
	display: block;
	margin-bottom: 23px;
	background-image: url("../img/ui-kit-assets/project_placeholder.jpg");
	background-repeat: no-repeat;
	background-position: center;
	-webkit-background-size: cover;
	     -o-background-size: cover;
	        background-size: cover;
    min-height: 190px;
    margin-right: auto;
    margin-left: auto;
	min-width: 280px;
	img{
		max-width: 100%;	
    }    		
    
	@media (min-width: 768px){
		margin: 0;
		margin-bottom: 20px;
		min-width: 220px;
		min-height: 150px;
		overflow: hidden;
	}
	@media (min-width: 982px){
		min-width: 280px;
		min-height: 200px
		overflow: hidden;
	}

	@media (min-width: 1200px){
		min-width: 360px;
		min-height: 250px;
	}
}
.portfolio__works-block-img__hover{
	display: block;
	text-align: center;
	position: absolute;
	padding-top: 60px;
	top: 100%;
	bottom: 0;
	left: 0;
	right: 0;
	font-size: 26px;
	color: #fff;
	background: rgba(0,82,194,0.9);
	-webkit-transition: top 0.5s ease-out;
			transition: top 0.5s ease-out;
	&:hover {
		color: #FFF;
		text-decoration: none;
	}
	&:active{
		top: 100%;
	}
	.noto-sans-normal;
	.fa{
		font-size: 64px;
		margin-bottom: 15px;
		position: absolute;
		top: 50%;
		left: 50%;
		-webkit-transform: translate(-50%,-50%);
				transform: translate(-50%,-50%);
		@media (min-width: 768px)  {
			font-size: 50px;
		}
		@media (min-width: 1200px) {
			font-size: 64px;
			position: static;
			-webkit-transform: translate(0%,0%);
					transform: translate(0%,0%);
		}
	}
	span{
		display: none;
		@media (min-width:1200px)  {
			display: inline-block;
		}
	}
}
.portfolio__works-block-img:hover .portfolio__works-block-img__hover{
	display: block;
	top: 0%;
}
.portfolio__works-block-title{
	margin-top: 0;
	margin-bottom: 15px;
	font-size: 20px;
	line-height: 17px;
	color: #000;
	.noto-sans-bold;
	@media (min-width: 768px){
		line-height: 23px;
	}
	@media (min-width: 1200px){
		font-size: 24px;
		line-height: 30px;
		border-bottom: 1px dotted #000000;
	}
	&:hover, &:active, &:focus{
		text-decoration: none;
		.blueHeading;
	}
}
.portfolio__works-block-text {
	font-size: 14px;
	line-height: 20px;
	.noto-sans-normal;
	@media (min-width: 1200px){
		line-height: 19px;
	}
}